          <html>
             <head><title>Meow!</title></head>
             <body>
             <div style="width:800px;margin: 0 auto">

           <!-- BEGIN -->
           <center><img src="http://{{ placeholder }}/{{ width }}/{{ height }}"></img></center>
           <center><h2>Meow World!</h2></center>
           <p><center> Welcome to<b> {{ prefix }}'s </b>app. </center></p>
           <p><center> Dominate the world with one Meow at a time!. </center></p>
           <!-- END -->

           </div>
           </body>
           </html>

